{% extends 'admin/base.html.twig' %}

{% block title %}Browse simple pages{% endblock %}

{% block main %}
	<h1>Browse all simple text pages</h1>
	
	<section class="list-browse">
		{% for page in pages %}
			{% include 'admin/pages/simple_text_page_bread/readComponent.html.twig' with {'page': page, 'headingStartsAtNum': 2} %}
		{% else %}
			<p>None!</p>
		{% endfor %}
	</section>
{% endblock %}