{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
	<h1>Edit page</h1>

	{{ form_start(edit_form) }}
		{% for data in edit_form.data %}
			{% include 'admin/pages/simple_text_page_bread/formComponent.html.twig' with {'data': data} %}
		{% endfor %}

		{{ form_row(edit_form.identifier) }}
		{{ form_row(edit_form.addToNav) }}
		<input type="submit" value="Edit page">
	{{ form_end(edit_form) }}
{% endblock %}
