{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
    <h1>Details</h1>

	{% include 'admin/pages/simple_text_page_bread/readComponent.html.twig' with {'page': page} %}
{% endblock %}
