{% extends 'admin/base.html.twig' %}

{% block title %}Browse projects{% endblock %}

{% block main %}
	<h1>Browse all projects</h1>
	
	<section class="list-browse">
		{% for project in projects %}
			{% include 'admin/projects/bread/readComponent.html.twig' with {'project': project, 'headingStartsAtNum': 2} %}
		{% else %}
			<p>None!</p>
		{% endfor %}
	</section>
{% endblock %}
