{% extends 'admin/base.html.twig' %}

{% block title %}Delete project{% endblock %}

{% block main %}
    <h1>Delete project</h1>
	
	{% include 'admin/projects/bread/readComponent.html.twig' with {'project': project, 'headingStartsAtNum': 2} %}
    
	{{ form(delete_confirm_form) }}
{% endblock %}
