{% extends 'admin/base.html.twig' %}

{% block title %}Delete project{% endblock %}

{% block main %}
    <h1>Delete project</h1>
    
    <section>
        <p>Name: {{ project.name }}</p>
        
        {{ form(delete_confirm_form) }}
    </section>
{% endblock %}
