{% extends 'admin/base.html.twig' %}

{% block title %}Delete project{% endblock %}

{% block main %}
    <h1>Delete project</h1>
    
    <section>
        TODO: Special delete form to delete relevant entities. Delete the page, hotlink, widget, and project entity.
    </section>
{% endblock %}
