{% extends 'admin/base.html.twig' %}

{% block main %}
	<h1>Edit project</h1>
	
	{% include 'admin/projects/bread/formComponent.html.twig' with {'form': edit_form, 'submitButtonText': 'Edit project'} %}
{% endblock %}
