{% extends 'admin/base.html.twig' %}

{% block title %}Read project{% endblock %}

{% block main %}
	<section>
		<h1>Project details</h1>
		
		{% include 'admin/projects/bread/readComponent.html.twig' with {'project': project, 'headingStartsAtNum': 2} %}
	</section>
{% endblock %}
