{# var ComplexPageData page_data #}
{% extends 'portfolio/base.html.twig' %}

{% block title %}Placeholder{% endblock %}

{% block main %}
    <section class="content">
        {% for element in page_data.elements %}
			{% if isWidget(element.types) %}
				{% include 'components/widgets/widget.html.twig' with {'widget': getWidget(element.widgetChoices)} %}
			{% else %}
				<{{ element.types }}>{{ element.content }}</{{ element.types }}>
			{% endif %}
		{% endfor %}
    </section>
{% endblock %}