{% extends 'portfolio/base.html.twig' %}

{% block title %}{{ page_data.title }}{% endblock %}

{% block main %}
    <section class="content">
        {{ page_data.rawHtml|raw }}
    </section>
{% endblock %}