{# var AbstractWidget widget #}

{% if isProgressWidget(widget) %}
	{% include 'components/widgets/progressWidget.html.twig' with {'widget': widget} %}
{% elseif isProjectWidget(widget) %}
	{% include 'components/widgets/projectWidget.html.twig' with {'widgetData': widget} %}
{% else %}
	<p>Missing widget!</p>
{% endif %}
