{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
<h1>Browse all simple text pages</h1>

<div class="w-100 d-flex justify-content-center">
    {% if pages|length > 0 %}
        <table class="p-2">
            {% block table %}{% endblock %}
        </table>
    {% else %}
        <p>There are no pages yet.</p>
    {% endif %}
</div>

{% endblock %}