.project-widget {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.project-widget div.image {
	position: relative;
	height: 192px;
	width: 256px;
	border-radius: 2px;
	background-color: lightgray;
	background-image: url("../images/image.svg");
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.project-widget div.image p {
	position: absolute;
	text-align: center;
	transform: translateY(-50%);
	text-transform: uppercase;
	font-weight: bold;
	user-select: none;
	width: 100%;
	padding: 4px 0;
	background-image: linear-gradient(0deg, #B6E4FFBF 20%, #B6E4FF 20%, #B6E4FF 80%, #B6E4FFBF 80%);
}
.project-widget div.image p:hover {
	background-image: linear-gradient(0deg, #40b9ffBF 20%, #40b9ff 20%, #40b9ff 80%, #40b9ffBF 80%);
}

.project-widget div.image p:first-child {
	top: 50%;
}
.project-widget div.image p:nth-child(2) {
	top: 70%;
}

.project-widget div.image p>a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.project-widget article {
	padding: 16px;
	flex-grow: 1;
	overflow: hidden;
}

.progress-widget {
	max-width: 480px;
	min-width: 290px;
	float: right;
	display: block;
	background-color: #1d2f5d;
	padding: 2px;
}

.progress-widget h1,
.progress-widget p {
	color: white;
}

.progress-widget h1 {
	margin: 0 0 0 4px;
}

.progress-widget p {
	margin: 0 0 0 8px;
}

.progress-widget>div>div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 1em;
	width: 100%;
	background-color: #e0f4ff;
	border-radius: 2px;
}

.progress-widget>div>div>div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: calc(100% - 4px);
	width: calc(100% - 4px);
	background-color: #40b9ff;
	border-radius: 2px;
}

.progress-widget>div>div>div>p {
	color: #1d2f5d;
	font-size: 0.75em;
	display: none;
	user-select: none;
}
.progress-widget>div:hover>div>div>p {
	display: block;
}