{% extends 'admin/base.html.twig' %}

{% block title %}Browse widgets{% endblock %}

{% block main %}
<h1>Add a widget</h1>

{% include 'admin/widgets/progress_widget_bread/formComponent.html.twig' with {'form': add_form, 'submitButtonText': 'Create widget'} %}

{% endblock %}
