{% extends 'admin/base.html.twig' %}

{% block title %}Delete progress widget{% endblock %}

{% block main %}
    <h1>Delete widget</h1>
    
	{% include 'admin/widgets/progress_widget_bread/readComponent.html.twig' with {'widget': widget, 'headingStartsAtNum': 2} %}        
	
	{{ form(delete_confirm_form) }}
{% endblock %}