{% extends 'admin/base.html.twig' %}

{% block title %}Edit progress widget{% endblock %}

{% block main %}
	<h1>Edit widget</h1>

	{% include 'admin/widgets/progress_widget_bread/formComponent.html.twig' with {'form': edit_form, 'submitButtonText': 'Edit widget'} %}
{% endblock %}
