{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
<h1>Hello!</h1>

{{ form_start(add_form) }}

{{ form_row(add_form) }}

<input type="submit" value="Create page">
{{ form_end(add_form) }}

{% endblock %}
