{% extends 'admin/base.html.twig' %}

{% block title %}Browse complex pages{% endblock %}

{% block main %}
	<h1>Browse all complex pages</h1>
	
	<section class="list-browse">
		{% for page in pages %}
			{% include 'admin/pages/complex_page_bread/readComponent.html.twig' with {'page': page} %}
		{% else %}
			<p>None!</p>
		{% endfor %}
	</section>
{% endblock %}