{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
	<h1>Delete page</h1>
	
	{% include 'admin/pages/complex_page_bread/readComponent.html.twig' with {'page': page} %}
	
	{{ form(delete_confirm_form) }}
{% endblock %}
